<% layout('/layout/boilerplate.ejs') -%>

<body>
    <h3><%=data.party_name%></h3>

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link detail_party " aria-current="page" href="#">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active  list_of_purchase"  id="" href="/parties/<%=data._id%>/parchase">Purchase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/parties/<%=data._id%>/transaction">Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    
    
      <div id="content">
        <%- body%>
      </div>

    

  
    
</body>