@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


.sidebar {
    font-family: "Lexend Deca", serif;
}

@media (max-width: 767px) {
    .sidebar {
      width: 100%; 
    }
    .business{
      margin-left: 10px;
    }
  }
  